body {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  height: 100vh;
  width: 20%;
  background-color: #282c34;
  overflow-x: hidden;
  position: fixed;
}

.sidebar > a {
  display: block;
  padding: 5%;
  color: white;
  text-decoration: none;
}
.sidebar > a:hover {
  background-color: #404244;
}

.main {
  display: flex;
  flex-direction: row;
}

.content-area {
  margin-left: 20%;
  width: 100%;
}
